body{
	font-size: 16px;
	text-align: center;
}
img{
	border-radius: 200px;
	width: 200px;
}
#txtNombre{
	font-size: 2em;
}
main section{
	vertical-align: top;
	display: inline-block;
	height: 768px;
}
#s1{
	background: red;
	width: 20%;
}
#s2{
	background: blue;
	width: 75%;
}